// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.delete-btn{
  -webkit-appearance : none;
  background-color: transparent;
  border: none;
  color: #e3342f;
  position: absolute;
  right: 0;
}
.buttons-container{
  position: absolute;
  right: 15px;
  bottom: 5px;
}
span.buttons-container span:first-child{
  margin-right: 5px;
  color: #19cf1d;
}

span.buttons-container span:last-child a{
  color: #cf2f5d;
}
span.product-header{
  color: #2a9055;
  font-weight: bold;
}
a.btn-outline-success{
  position: absolute;
  right: 5px;
  top: 5px;
}
a.activate-image-upload{
  display: block;
}
.image-card-upload{

}
input.image-file-upload{
  display: none;
}

